<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped()">
      {{item.title}}
      <div class="item-note" item-end>
        {{item.content}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItems" padding>
    You navigated here from <b>{{selectedItems.title}}</b>
  </div>
</ion-content>
